.custom-nav-tabs .nav-link {
    border: none;
    font-size: 12px;
    color: #222222;
}
.custom-nav-tabs .nav-link.active, .custom-nav-tabs .nav-item.show .nav-link {
    color: #ff8383;
    background-color: transparent;
    border-color: transparent;
}
.custom-nav-tabs .nav-link:hover, .custom-nav-tabs .nav-link:focus {
    border-color: transparent;
}
.tabs-img{
    width: 150px;
}
.offer-details a{
    font-size: 12px;
    color: #4961cd;
}