.bg-top-nav{
    background-color: #232f3e;
}
.custom-top-nav,.bg-top-nav p{
    font-size: 12px;
}
.custom-top-nav .border-start{
    border-color: #4e4d4d!important;
}
.custom-top-nav a{
    padding: 10px;
}
.btn-font-size{
    font-size: 12px;
}
.basket{
    background-color: transparent;
}
.basket i{
    vertical-align: -2px;
}
.custom-dropdown-toggle::after{
    vertical-align: 0.055em;
}
.shopping-list a img{
    width: 64px;
    height: 64px;
}
.shopping-list a{
    font-size: 12px;
}
.shopping-list{
    width: 300px!important;
}
.shopping-list .btn-close{
    width: 0.5em;
    height: 0.5em;
}
.custom-navbar{
        max-width: 720px !important;
}
.custom-navbar-nav{
    font-size: 12px;
    
}
/* full width menu */
/* .custom-navbar-nav .nav-item,.custom-navbar{
    position: unset;

} */
.custom-navbar-nav .nav-item{
    position: unset;
}
.custom-navbar-nav .nav-item{
    position: unset;
}
.custom-navbar-nav .nav-item .dropdown-menu{
    border-radius:0;
    top: 54px;
}
.custom-navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
    background-color: #898989;
}
.custom-navbar-nav a{
    font-size: 12px;
}
.custom-navbar-collapse a{
    font-size: 12px;
}
.custom-navbar-nav .dropdown-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}
.dropdown-img ul li a{
    color: #232f3e;
    transition: all .5s ease;
}
.dropdown-img .nav-item .custom-active{
    color: #bb0404;
}
.dropdown-img ul li a i{
    vertical-align: -2px;
}
.dropdown-img ul li a:hover{
    margin-right: 7px;
    color: rgb(37, 139, 255);
}