@import '_top-nav.css';
@import '_slider.css';
@import '_shipping.css';
@import '_ads.css';
@import '_categories.css';
@import '_special-offers.css';
@import '_popular-product.css';
@import '_banner-section-1.css';
@import '_offer-section.css';
@import '_footer.css';
@import '_login-form.css';
@font-face {
    font-family: Vazir;
    src: url('../font/Vazir.eot');
    src: url('../font/Vazir.woff2') format('woff2'),
         url('../font/Vazir.woff') format('woff'),
         url('../font/Vazir.ttf') format('truetype');
         font-weight: normal;
         font-style: normal;
}
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazir;
}
body{
    direction: rtl;
}
a{
    text-decoration: none;
}
li,ol,ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
.owl-carousel .owl-nav{
    position: absolute;
    top: 160px;
    width: 100%;
    display: flex;
}
.owl-carousel .owl-nav .owl-next{
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #a7a7a7;
    background-color: white!important;
    transition: all 0.5s ease;
}
.owl-carousel .owl-nav .owl-next:hover{
    box-shadow: 0 0 1px 3px #a7a7a7;
    background-color: white;
}
.owl-carousel .owl-nav .owl-prev{
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #a7a7a7;
    background-color: white!important;
    transition: all 0.5s ease;
}
.owl-carousel .owl-nav .owl-prev:hover{
    box-shadow: 0 0 1px 3px #a7a7a7;
    background-color: white;
}
.owl-carousel .owl-nav .owl-next span{
    position: absolute;
    left: 9px;
    top: -6px;
    font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev span{
    position: absolute;
    right: 9px;
    top: -6px;
    font-size: 30px;
}